<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Finance_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="Finance_Manager.Properties.Settings.AppDatabaseConnectionString"
			 connectionString="Data Source=.\finance.db"
			 providerName="Microsoft.Data.Sqlite" />
	</connectionStrings>
	<applicationSettings>
		<Finance_Manager.Properties.Settings>
			<setting name="Theme" serializeAs="String">
				<value>0</value>
			</setting>
		</Finance_Manager.Properties.Settings>
	</applicationSettings>
</configuration>
